body 
{
   font-family: 'Roboto', sans-serif;
}

h1
{
    font-size: 20px;
}

p
{
    font-size: 15px;
}
.container
{
    display: flex;
    align-items: center;
    padding: 10px 50px;
    gap: 50px;
    justify-content: space-evenly;
    min-height: 100vh;
    background-image: url('../images/bg-repeat.jpg');
    background-size: contain;
}

.container
.text
{
    /* background-color: red; */
     flex-grow: 1;
     background-color: #ccc;
}

.form 
{
    background-color: #fff;
    width: 340px;
    height: 90vh;
    flex-grow: 1;
    background-color: orange;
}