body 
{
   font-family: 'Roboto', sans-serif;
}

h1
{
    color: #fff;
    font-size: 3.01rem;
}

p
{
    margin-top: 25px;
    font-size: 2.27rem;
    color: #fff;
    margin-left: -3px;
}

.container
{
    display: flex;
    position: relative;
    align-items: center;
    padding: 5px 115px;
    gap: 50px;
    justify-content: space-evenly;
    min-height: 100vh;
    background-image: url('../images/bg-repeat.jpg');
    background-size: contain;
}

.container
.text
{
     text-align: left;
     flex-grow: 1;
     padding: 50px 0;
     margin-top: -5px;
     margin-left: 4px;
}

.form 
{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 46px 50px;
    background-color: #fff;
    width:685px;
    height: 94vh;
    flex-grow: 1;
}


.form
.inputs
.alert
{
    font-size: 1.20rem;
    display: none;
    color: #F52E2E;
}

.inputs
input ,
.text-area
{
    position: relative;
    width: 100%;
    font-size: 2rem;
    border-radius: 1rem;
    border: 1px solid black;
    padding: 2.05rem;
}

.inputs:nth-child(4)
.alert
{
    margin-left: 8px;
}

.text-area
{
    height: 238px;
    resize: none;
}

.caution
{
    margin-top: 2px;
    margin-left: -18px;
    color: black;
}

.btn 
{
    background-color: #3CCC87;
    font-size: 2.4rem;
    margin-top: 10px;
    margin-left: -5px;
    color: white;
    max-width: 100%;
    height: 150px;
    padding: 3.5%;
    cursor: pointer;
}
